* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light: #f0ead2;
  --primary: #dde5b6;
  --secondary: #adc178;
  --tertiary: #a98467;
  --dark: #6c584c;
  --error: rgb(228,46,1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

a {
  text-decoration: none;
  color: var(--dark);
}

p {
  margin: 10px;
}

h1 {
  display: inline;
  align-self: center;
  padding: var(--spacing-two);
  font-size: 48px;
}

.wrapper {
  min-height: calc(100vh - 150px);
  background-color: var(--secondary);
}

.section-header {
  margin-bottom: 30px;
  color: var(--dark);
}

section {
  padding: var(--spacing-two);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/* Resume Page */

.download-link {
  font-size: 18px;
  margin-left: 0;
}

.section-header {
  margin-bottom: 30px;
  color: var(--dark);
}

section{
  padding: var(--spacing-two);
  color:black;
}

.list-header {
  margin-top: 25px;
  font-size: 20px;
}

.work-list {
  font-size: 18px;
}

/* End Resume Page */

/* Projects Page */

.list-item {
  margin-right: 20px;
  margin-left: 20px;
}
.password-challenge {
  background-color: antiquewhite;
}

.js-quiz-challenge {
  background-color: aquamarine;
}

.work-day-scheduler {
  background-color: azure;
}

.readme-generator {
  background-color: beige;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-item {
  width: 30%;
  min-height: 300px;
  margin: 10px;
  color: black;
  display: flex;
  flex-direction: column;
}

.project-item a {
  color: black;
}

.project-header {
  background-color: var(--primary);
  background-color: var(--light);
}

.project-title {
  font-size: 24px;
  color: black;
  margin-right: 50px;
}

.project-tech {
  margin: 0;
  background-color: var(--tertiary);
}

.password-challenge {
  background-image: url("./assets/images/pass-gen-screenshot.png");
  background-position: 75% 80%;
  background-repeat: no-repeat;
}

.js-quiz-challenge {
  background-image: url("./assets/images/quiz-main-page.png");
  background-position: 30% 15%;
  background-repeat: no-repeat;
}

.work-day-scheduler {
  background-image: url("./assets/images/workday-scheduler-screenshot.png");
  background-position: 60% 30%;
  background-repeat: no-repeat;
}

.readme-generator{
  background-image: url("./assets/images/readme-generator.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

/* End Projects Styling */

/* Styling for the Contact form page */
form div {
  margin-bottom: 25px;
}

label {
  display: block;
}

input {
  width: 40%;
  font-size: 18px;
  outline: none;
}

textarea {
  width: 40%;
  font-size: 18px;
  outline: none;
}

.error-text {
  color: var(--error)
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--tertiary);
}
/* End styling for Contact form */

/* Footer Styling */

.footer {
  height: 50px;
  background-color: var(--light);
  border-top: 5px solid var(--tertiary);
  border-right: 5px solid var(--tertiary);
  color: var(--dark);
  display: flex;
  justify-content: center;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  padding: 0 25px;
  font-size: 20px;
}

/* End Footer Styling */

/* Media Queries for smaller devices */
@media screen and (max-width: 768px) {

  .header {
    flex-direction: column;
  }

  .nav-list {
    justify-content: center;
  }

  .section-header {
    font-size: 30px;
  }

  .content-wrapper {
    min-height: calc(100vh - 170px);
  }

  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    width: 80%;
  }

  .project-title {
    font-size: 30px;
  }

  .project-github {
    font-size: 22px;
  }

  .project-tech {
    font-size: 22px;
  }

  input {
    width: 80%;
    font-size: 22px;
  }

  textarea {
    width: 80%;
    font-size: 22px;
  }

  label {
    font-size: 22px;
  }

  button {
    font-size: 2rem;
    padding: 0.5rem 1.25rem;
  }

  .download-link {
    font-size: 22px;
  }

  .list-header {
    font-size: 26px;
  }

  .work-list {
    font-size: 22px;
  }
    
}

@media screen and (max-width: 575px) {

.project-title {
  font-size: 20px;
}


.project-tech{
  font-size: 15px;
}
}