body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/* Resume Page */

.download-link {
  font-size: 18px;
  margin-left: 0;
}

.section-header {
  margin-bottom: 30px;
  color: var(--dark);
}

section{
  padding: var(--spacing-two);
  color:black;
}

.list-header {
  margin-top: 25px;
  font-size: 20px;
}

.work-list {
  font-size: 18px;
}

/* End Resume Page */

.list-item {
  margin-right: 20px;
  margin-left: 20px;
}
.password-challenge {
  background-color: antiquewhite;
}

.js-quiz-challenge {
  background-color: aquamarine;
}

.work-day-scheduler {
  background-color: azure;
}

.readme-generator {
  background-color: beige;
}